## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from configs import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv('..\\Weather_Database\\Weather_Database.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Alfred,ZA,2022-07-02 22:40:32,-33.5906,26.8910,62.19,69,13,9.78
1,1,Saint-Pierre,RE,2022-07-02 22:40:32,-21.3393,55.4781,67.91,76,75,11.50
2,2,San Quintin,MX,2022-07-02 22:40:33,30.4833,-115.9500,73.58,62,0,17.87
3,3,Hervey Bay,AU,2022-07-02 22:40:33,-25.2986,152.8535,58.01,94,100,8.01
4,4,San Patricio,US,2022-07-02 22:40:34,28.0170,-97.5169,95.18,57,27,19.93

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

user_min_temp_criteria = float(input('Please input your minimum temperature criteria'))
user_max_temp_criteria = float( input('Please input your max temperature criteria'))


user_min_temp_criteria
user_max_temp_criteria

73.58

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= user_max_temp_criteria) & \
                                       (city_data_df["Max Temp"] >= user_min_temp_criteria)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Alfred,ZA,2022-07-02 22:40:32,-33.5906,26.8910,62.19,69,13,9.78
1,1,Saint-Pierre,RE,2022-07-02 22:40:32,-21.3393,55.4781,67.91,76,75,11.50
2,2,San Quintin,MX,2022-07-02 22:40:33,30.4833,-115.9500,73.58,62,0,17.87
8,8,Ribeira Grande,PT,2022-07-02 22:40:35,38.5167,-28.7000,67.05,83,3,15.30
14,14,Rikitea,PF,2022-07-02 22:40:37,-23.1203,-134.9692,73.45,76,6,20.40
15,15,Yantzaza,EC,2022-07-02 22:40:37,-3.8278,-78.7594,68.49,96,80,0.36
19,19,Rikitea,PF,2022-07-02 22:40:37,-23.1203,-134.9692,73.45,76,6,20.40
20,20,Hrubieszow,PL,2022-07-02 22:40:38,50.8050,23.8925,62.38,96,96,10.13
25,25,Mokhsogollokh,RU,2022-07-02 22:40:40,61.4681,128.9203,72.95,56,100,5.12
27,27,Faya,SA,2022-07-02 22:40:40,18.3851,42.4509,72.12,45,89,3.29

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()
preferred_cities_df.notnull().sum()
preferred_cities_df.count()

City_ID       419
City          419
Country       419
Date          419
Lat           419
Lng           419
Max Temp      419
Humidity      419
Cloudiness    419
Wind Speed    419
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()

clean_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Alfred,ZA,2022-07-02 22:40:32,-33.5906,26.8910,62.19,69,13,9.78
1,1,Saint-Pierre,RE,2022-07-02 22:40:32,-21.3393,55.4781,67.91,76,75,11.50
2,2,San Quintin,MX,2022-07-02 22:40:33,30.4833,-115.9500,73.58,62,0,17.87
8,8,Ribeira Grande,PT,2022-07-02 22:40:35,38.5167,-28.7000,67.05,83,3,15.30
14,14,Rikitea,PF,2022-07-02 22:40:37,-23.1203,-134.9692,73.45,76,6,20.40
15,15,Yantzaza,EC,2022-07-02 22:40:37,-3.8278,-78.7594,68.49,96,80,0.36
19,19,Rikitea,PF,2022-07-02 22:40:37,-23.1203,-134.9692,73.45,76,6,20.40
20,20,Hrubieszow,PL,2022-07-02 22:40:38,50.8050,23.8925,62.38,96,96,10.13
25,25,Mokhsogollokh,RU,2022-07-02 22:40:40,61.4681,128.9203,72.95,56,100,5.12
27,27,Faya,SA,2022-07-02 22:40:40,18.3851,42.4509,72.12,45,89,3.29

In [78]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0      Port Alfred      ZA     62.19 -33.5906   26.8910
1     Saint-Pierre      RE     67.91 -21.3393   55.4781
2      San Quintin      MX     73.58  30.4833 -115.9500
8   Ribeira Grande      PT     67.05  38.5167  -28.7000
14         Rikitea      PF     73.45 -23.1203 -134.9692
15        Yantzaza      EC     68.49  -3.8278  -78.7594
19         Rikitea      PF     73.45 -23.1203 -134.9692
20      Hrubieszow      PL     62.38  50.8050   23.8925
25   Mokhsogollokh      RU     72.95  61.4681  128.9203
27            Faya      SA     72.12  18.3851   42.4509

In [79]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat=row['Lat']
    long=row['Lng']
    params["location"] = f"{lat},{long}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
   
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

    try: 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [80]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df=hotel_df.dropna()

In [81]:
# 8a. Create the output File (CSV)
output_data_file = "C:\\Users\\sabri\\Desktop\\Class Projects\\Vacation_Search\\City_Data.csv"
# # 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

clean_hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Port Alfred,ZA,62.19,-33.5906,26.8910,The Halyards Hotel
1,Saint-Pierre,RE,67.91,-21.3393,55.4781,Alize Plage
2,San Quintin,MX,73.58,30.4833,-115.9500,Don Eddie's Sport Fishing Center
8,Ribeira Grande,PT,67.05,38.5167,-28.7000,Quinta da Meia Eira
14,Rikitea,PF,73.45,-23.1203,-134.9692,People ThankYou
...,...,...,...,...,...,...
1836,Rikitea,PF,73.45,-23.1203,-134.9692,People ThankYou
1838,Cairns,AU,73.06,-16.9167,145.7667,Mantra Trilogy Cairns
1841,Kindia,GN,70.84,10.0569,-12.8658,LES EAUX DE KILISSI
1842,Souillac,MU,71.98,-20.5167,57.5167,Shanti Maurice Resort & Spa
1843,Saint-Philippe,RE,67.59,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [82]:
# # 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# # 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]


# # 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]
locations

          Lat       Lng
0    -33.5906   26.8910
1    -21.3393   55.4781
2     30.4833 -115.9500
8     38.5167  -28.7000
14   -23.1203 -134.9692
...       ...       ...
1836 -23.1203 -134.9692
1838 -16.9167  145.7667
1841  10.0569  -12.8658
1842 -20.5167   57.5167
1843 -21.3585   55.7679

[419 rows x 2 columns]

In [98]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# # 11b. Display the figure

fig

AttributeError: module 'collections' has no attribute 'Iterable'